import { Container } from './styles'
import { {{pascalCase name}}Props } from './types'

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <Container>
      <h1>{{pascalCase name}}</h1>
    </Container>
  )
}
