import * as S from './styles'
import { {{pascalCase name}}Props } from './types'

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
    </S.Container>
  )
}
